@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    max-width: 100vw;
    height: 250px;
    
}
h1{
    font-family: "Passion One", sans-serif;
    font-size: 7em;
    color: white;
    text-align: center;
    padding-top: 60px;
}
header > p{
    font-size: 1.2em;
    color: white;
    text-align: center;
}
header > p > a{
    font-family: "Passion One", sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: white;
}
header > p > a:hover{
    text-decoration: underline;
}

div{
    width: 400px;
    height: 700px;
}
div > p{
    font-family: "Passion One", sans-serif;
    font-size: 3em;
    padding: 20px;
}