@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    font-size: 1em;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1{
    font-family: var(--fonte2);
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;

}
header > p{
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
a{
    font-family: var(--fonte3);
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(73, 73, 73);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.404);
}

section.imagem > p{
    display: inline-block;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.521);
    background-color: rgba(0, 0, 0, 0.39);
    padding: 5px;
    
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}




footer{
    font-family:var(--fonte3);
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;

}