@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    max-width: 100vw;
    height: 250px;
    
}
header > h1{
    font-family: "Passion One", sans-serif;
    font-size: 7em;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
a{
    font-family: "Passion One", sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}



section > p{
    font-family: "Passion One", sans-serif;
    font-size: 3em;
    padding: 20px;
    line-height: 2em;
    margin-left: 20px;
}


div{
    width: 600px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.493);
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}
div > p{
    font-family: "Passion One", sans-serif;
    font-size: 3em;
    color: white;
    padding: 20px;
    line-height: 2em;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(73, 73, 73);
    background-image: url('imagens/background001.jpg');
}








footer{
    font-family:"Passion One", sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
}